@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.quickmenu {
	margin-bottom: 20px;
	font-family: 'Yeongdeok_TTF';
	font-weight: 50;
	background: #fff;
	width: 300px;
	position: relative;
}

.recent {
	width: 270px;
	height: 30px;
	display: inline-block;
	border-bottom: 4px solid #FDC040;
}

.recent span {
	display: inline-block;
	height: 30px;
	border-bottom: 4px solid tomato;
}

.recent_center {
	border-radius: 5px 0px 5px 0px;
	border-right: 1px solid var(--unnamed, #FFF);
	border-bottom: 1px solid var(--unnamed, #FFF);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.60);
	width: 270px;
}

.recent_center img {
	width: 135px;
	float: left;
	margin-right: 15px;
}

.cate {
	height: 100px;
}

.writer {
	height: 35px;
}