<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="api">
<!-- 	<select id="detailedlist" resultType="avo">
		SELECT * from p_recipe 
	</select> -->
	<select id="idChk" parameterType="String" resultType="mvo">
		SELECT * FROM member WHERE m_id = #{m_id}
	</select>
	<!-- 닉네임체크 -->
	<select id="nickChk" parameterType="String" resultType="int">
		select count(*) from member where m_nick = #{m_nick}
	</select>
	<!-- 상세페이지 들어갈 때 조회수 올리기 -->
	<update id="hit_update" parameterType="String">
		update p_recipe set p_rcp_hit = p_rcp_hit + 0.5 where rcp_idx = #{rcp_idx}
	</update>
</mapper>