<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<!-- 자체 회원가입 insert -->
	<insert id="join" parameterType="mvo">
		insert into member(m_id, m_pw, m_phone, m_gender, m_birthday, m_nick, m_regdate, m_status, 
					m_fail_count, m_out_date, m_login_type, m_uid, m_token, m_t_time, m_image)
		values(#{m_id}, #{m_pw}, #{m_phone}, #{m_gender}, #{m_birthday}, #{m_nick}, sysdate(), 1, 
				#{m_fail_count}, #{m_out_date}, 1, #{m_uid}, #{m_token}, #{m_t_time}, #{m_image})
	</insert>
	<!-- 아이디 중복 검사 -->
	<select id="idChk" resultType="mvo">
		select m_id from member
	</select>
	<!-- 닉네임 중복 검사 -->
	<select id="nickChk" resultType="mvo" parameterType="String">
		select count(*) from member where m_nick = #{m_nick}
	</select>
	<!-- 네이버 회원가입 -->
</mapper>