<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="p_recipe">
	<!-- 게시물 rcp_idx에 따라 평점, 댓글수, 조회수 가져오기 -->
	<select id="article_summary" resultType="prvo">
		SELECT * FROM p_recipe_comment_summary
	</select>
	<select id="article_rating" resultType="String" parameterType="String">
		SELECT avg_c_grade FROM comment_avg_c_grade WHERE rcp_idx = #{rcp_idx}
	</select>
</mapper>