<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report_t">
	<select id="selectListRecipeByM_idx" parameterType="String" resultType="rmvo">
		select * from report_t_metadata where m_idx = #{m_idx} and rcp_idx is not null
	</select>
	<select id="selectListCommentByM_idx" parameterType="String" resultType="rmvo">
		select * from report_t_metadata where m_idx = #{m_idx} and c_idx is not null
	</select>
</mapper>