<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="u_recipe">
	<!-- 조회수 기준 상위 30개 가져오기 -->
	<select id="rankListRecipe" resultType="urmvo">
		select * from u_recipe_metadata
		order by u_rcp_hit desc LIMIT 30
	</select>
	
	<!-- 검색어로 결과 rcp_idx 가져오기 -->
	<select id="recipeSearch" parameterType="String" resultType="String">
		select rcp_idx from u_recipe where u_rcp_title like %#{search}% or u_rcp_category like %#{search}% or u_rcp_ing lick %#{search}%
	</select>
</mapper>