<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- MyBais에서 쿼리에 매핑되는 파라미터에 NULL 값이 있는 경우 에러 발생 => 해결 <setting name="jdbcTypeForNull" 
		value="NULL"/> -->
	<!-- MyBatis cache 사용 여부 => <setting name="cacheEnabled" value="false"/> -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	<typeAliases> <!-- (별칭) vo위치를 별칭으로 지정해주는 역활
	=> com.ict.model.vo.membersVO 를 mvo 라는 별칭으로 지정해서 불러줌 
	<typeAlias type="com.ict.model.vo.membersVO" alias="mvo" /> -->
	<typeAlias type="com.yamco.user.model.vo.Member_VO" alias="mvo" />
	<typeAlias type="com.yamco.user.model.vo.Member_Search_VO" alias="msvo" />
	<typeAlias type="com.yamco.user.model.vo.Member_meta_VO" alias="mmvo" />
	<typeAlias type="com.yamco.user.model.vo.Random_VO" alias="ranvo" />
	<typeAlias type="com.yamco.user.model.vo.Random_save_VO" alias="ransvo" />
	<typeAlias type="com.yamco.user.model.vo.Notice_VO" alias="nvo" />
	<typeAlias type="com.yamco.user.model.vo.U_recipe_VO" alias="urvo" />
	<typeAlias type="com.yamco.user.model.vo.U_recipe_Search_VO" alias="ursvo" />
	<typeAlias type="com.yamco.user.model.vo.U_recipe_meta_VO" alias="urmvo" />
	<typeAlias type="com.yamco.api.model.vo.P_recipe_VO" alias="prvo" />
	<typeAlias type="com.yamco.user.model.vo.User_log_VO" alias="ulvo" />
	<typeAlias type="com.yamco.user.model.vo.User_log_Search_VO" alias="ulsvo" />
	<typeAlias type="com.yamco.user.model.vo.Comment_VO" alias="cvo" />
	<typeAlias type="com.yamco.admin.model.vo.Admin_Dash_VO" alias="advo" />
	<typeAlias type="com.yamco.admin.model.vo.Admin_Report_VO" alias="arvo" />
	<typeAlias type="com.yamco.admin.model.vo.Admin_Banner_VO" alias="abvo" />
	<typeAlias type="com.yamco.user.model.vo.Comment_meta_VO" alias="cmvo" />
	</typeAliases>

	<mappers><!-- 매퍼 위치를 쓰기 -->
		<!-- <mapper resource="mappers/members-mapper.xml" /> -->
		<mapper resource="mappers/admin-mapper.xml" />
		<mapper resource="mappers/api-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/image-mapper.xml" />
		<mapper resource="mappers/u_recipe-mapper.xml" />
		<mapper resource="mappers/user_log-mapper.xml" />
		<mapper resource="mappers/p_recipe-mapper.xml" />
		<mapper resource="mappers/comment-mapper.xml" />
	</mappers>

</configuration>