@charset "UTF-8";

@font-face {
    font-family: 'Yeongdeok_TTF';
    src: url('../../fonts/Yeongdeok Blueroad.ttf') format('truetype');
}

body{
	font-family: 'Yeongdeok_TTF';	
}

#mydiv {
  	width : 1920px;
  	left : 0px; 
  	top : 0px;
	margin: auto;
}

#maintext{
	font-size: 40px;
}

.textfiled{
	display:flex;
	width: 660px;
	height: 50px;
	margin: auto;
	font-size: 24px;
	font-family: 'Yeongdeok_TTF';
}

.idline{
	display:flex;
	width: 660px;
	height: 3px;
	flex-shrink: 0;
	background:#FF6347;
	margin: auto;
}

input[type="password"]{
	border:none;
	/* border-radius: 20px; */
	font-size: 24px;
	outline: none;
}

.chk{
	margin: auto;
	width: 660px;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 60px;
}

.buttons{
	width: 176px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 40px;
	margin: auto;
	border: none;
	font-family: 'Yeongdeok_TTF';
}

.buttons > span{
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 176px;
	font-size: 24px;
	font-weight: bold;
	color: white;
}