@charset "UTF-8";
@font-face {
	font-family: 'Yeongdeok_TTF';
	src: url('/resources/fonts/Yeongdeok Blueroad.ttf') format('truetype');
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#mydiv {
	width: 1920px;
	margin: auto;
}

#sidebar-right {
	float: left;
	width: 15.625%;
}

#sidebar-left {
	width: 15.625%;
	float: left;
}

#content {
	font-family: 'Yeongdeok_TTF';
	width: 68.75%;
	float: left;
	/* Rectangle 77 */
	margin-top: 0px;
}

#footer {
	left: 0px;
	width: 100%;
	height: 300px;
	clear: left;
}

#category {
	font-size: 16px;
	width: 835px;
	height: 128px;
	margin: auto;
}

#category li:hover {
	background-color: #E53A1B;
}

#howto_menu {
	color: #FFF;
	width: 832px;
	list-style: none;
	margin: auto;
}

.howto_center {
	background-color: tomato;
	border-bottom: 1px solid #FFF;
	width: 100px;
	line-height: 50px;
	text-align: center;
	float: left;
	height: 50px;
}

#howto_first {
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	line-height: 50px;
	text-align: center;
	float: left;
	height: 50px;
	background-color: tomato;
	width: 116px;
	border-radius: 30px 0px 0px 8px;
}

#howto_etc {
	border-bottom: 1px solid #FFF;
	line-height: 50px;
	text-align: center;
	float: left;
	height: 50px;
	background-color: tomato;
	width: 116px;
	border-radius: 0% 30px 8px 0px;
}

#category_menu {
	color: #FFF;
	width: 800px;
	list-style: none;
	margin: auto;
}

.category_center {
	background-color: tomato;
	color: #FFF;
	width: 100px;
	line-height: 50px;
	text-align: center;
	float: left;
	height: 50px;
}

#category_first {
	line-height: 50px;
	text-align: center;
	float: left;
	height: 50px;
	background-color: tomato;
	width: 100px;
	border-radius: 0px 0px 0px 30px;
	border-right: 1px solid #FFF;
}

#category_etc {
	line-height: 50px;
	text-align: center;
	float: left;
	height: 50px;
	background-color: tomato;
	width: 100px;
	border-radius: 0px 0px 30px 0px;
}

#category_helmet {
	width: 80px;
	height: 28px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid #FFF;
	background: #FF6347;
	margin: auto;
}

.recipe_thumbnail {
	width: 250px;
	height: 250px;
}

.recipe_one {
	margin: 60px 20px;
	width: 250px;
	display: inline-block;
}

.like img {
	vertical-align: middle;
	width: 16px;
	height: 16px;
}

.like span {
	height: 16px;
	font-size: 12px;
}

.profile {
	vertical-align: middle;
	width: 30px;
}

.writer {
	height: 30px;
}

.writer span {
	font-size: 16px;
	line-height: 30px;
}

.flexContainer {
	width: 1320px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

ol.paging {
	text-align:center;
	list-style: none;
	height: 50px;
}

ol.paging li {
	display: inline;
}

ol.paging li a {
	display: inline-block;
	width: 40px;
	text-decoration: none;
	padding: 5px 5px;
	color:	tomato;
	font-weight: bold;
}

ol.paging li a:hover {
	background: tomato;
	color: white;
	font-weight: bold;
}

.pagecontainer{
	display: block; 
	margin: auto;
}