@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 #mydiv{
        width: 1920px;
        margin:  auto;
        /* height: 5000px; */

}
 #sidebar-right {
    background-color: yellow;
    float: left;
    width: 15.625%;
}
#sidebar-left {
    background-color: yellow;
    width: 15.625%;
    float: left;

}

#detailed_info{
	float: left;
	margin-left: -1000px;
}
#content {
    width: 68.75%;
    float: left;
    margin-top: 0px;
    background: white;
    /* height: 8000px; */
}
.category{
	color:#929292; 
	margin-left: 158px; 
	margin-top: 500px; 
	font-size: 20px;
}

.ing_det{
	color:#929292; 
	font-size: 16px; 
	margin-left: 158px; 
	margin-top: 500px; 
	text-align: center;
}

#footer {
    left: 0px;
    width: 100%;
    clear: left;
}

#ing_dets{
	text-align:center;
	color:#929292; 
	font-size: 20px;
	margin-top: 0px;
}

#test {
	width: 100%;
	height: 1500px;
}

#upper{
	margin-top: 100px;
}
.text_center{
	text-align:center;
	justify-content: center; /* 가로 가운데 정렬 */
	align-items: center; 
}
    .horizontal-line {
      border-top: 2px solid #21730B; /* 선 스타일 지정 */
      margin-top: -320px; /* 선 위쪽 여백 지정 */
      margin-bottom: 0px; /* 선 아래쪽 여백 지정 */
      margin-left: 570px;
      margin-right: 62px;
    }
    .horizontal-line2 {
      border-top: 2px solid #21730B; /* 선 스타일 지정 */
      margin-top: -350px; /* 선 위쪽 여백 지정 */
      margin-bottom: 0px; /* 선 아래쪽 여백 지정 */
      margin-left: 60px;
      margin-right: 60px;
    }
    .horizontal-line_tomato {
      border-top: 3px solid tomato; /* 선 스타일 지정 */
      margin-top: -320px; /* 선 위쪽 여백 지정 */
      margin-bottom: 0px; /* 선 아래쪽 여백 지정 */
      margin-left: 30px;
      margin-right: 30px;
    }
    .horizontal-line_gray {
      border-top: 3px solid #f9f9f9; /* 선 스타일 지정 */
      margin-top: -320px; /* 선 위쪽 여백 지정 */
      margin-bottom: 0px; /* 선 아래쪽 여백 지정 */
      margin-left: 30px;
      margin-right: 30px;
    }
#ingredients{
	position: relative;
	top: -295px; 
	margin-left: 750px;
}
 .table_row {
 	display: block;
    margin-bottom: 3px;
	 padding-bottom: 3px;
  }
  table{
  	border: 1px;
  }
  .lower_images{
  	width: 90px;
  	height: 90px;
  }
#writer_nick{
	margin-left: 160px; 
	width: 100px; 
	height: 40px;
	margin-top: 20px;
}
#cook_det_img{
	width:196px; 
	position: relative; 
	top: -300px;
	float: left;
}
#cook_category{
	margin-left: 250px; 
	margin-top: -50px; 
	width: 100px; 
	height: 40px;"	
}

#howto_cook{
	margin-left: 385px;
	width: 100px; 
	height: 40px; 
	text-align: center;
	position: relative;
	top: -74px;
}

#main_img{
	width:320px; 
	height:320px; 
	margin-left: 158px; 
	margin-top: 10px;
}  
  
#title{
  	width: 320px; 
  	height: 120px; 
  	font-size:32px; 
  	color:#FF6347; 
  	margin-left: 158px; 
  	margin-top: 20px; 
  	text-align: center;
}
  
#rcp_tip{
  	width: 400px; 
  	height: 230px; 
  	margin-left: 780px; 
  	margin-top: -400px;"
}
.lower_text{
	margin-top: 0px;	
}
  .round_btn{
  	 background-color: tomato;
      color: white;
      width: 100px;
      height: 50px;
      font-size: 24px;
      border: none; /* 외곽선 제거 */
      border-radius: 5px; /* 동그랗게 곡선 처리 */
      cursor: pointer;
      outline: none; /* 포커스 시 테두리 제거 */
  }
  input.report-button {
  background: url("resources/images/alarm.png") no-repeat;
  background-size: 50px;
  width: 50px;
  height: 50px;
  border: none;
}
#howabout{
	 background: url("resources/images/howabout.png") no-repeat;
	 background-size: 600px;
}

.left_arrow{
	transform: rotate( 90deg );
}
.right_arrow{
	transform: rotate( 270deg );
}
.how_about_imgs{
	margin-top: 35px;
	margin-left: 25px;
	margin-right: 25px;
}
#content_review_btn{
	 background: url("resources/images/comment_review.png") no-repeat;
	 background-size: 290px;
}
#w3review{
	margin-left: 400px;
	position: relative;
	top: -120px;
	outline: tomato;
}

  #content-textarea {
    width: 800px;
    height: 200px;
    padding: 10px;
    font-size: 20px;
    border: 3px solid #ccc;
    border-color: tomato;
    border-radius: 5px;
    margin-left: 350px;
    position: relative;
    top: -125px;
    resize: none;
    margin-right: 20px;
  }
.best_comment{
	color: white;
	background-color: tomato;
	font-size: 20px;
	width: 130px;
	height: 40px;
	border-radius: 5px;
	margin-left: 110px;
	border: none;
}

.comment_img{
	margin-left: 330px;
	width: 200px;
	height: 200px;
	position: relative;
	top: -230px;
}

.comment_content{
	/* span에서 margin-left 한번더 줘서 글자가 이상하게 */
	font-size: 16px;
}

.comment_btn_add{
	background-color: lightgray;
	float: right;
	width: 55px;
	height: 24px;
	font-size: 14px;
	color: #F9F9F9;
	margin-right: 22px;
	margin-top: -100px;
	border-radius: 5px;
	border: none;
}

#recipe_tip{
	margin-top: -150px;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}

.font_size_32{
	font-size: 32px;	
}
.font_size_24{
	font-size: 24px;	
}


.star-ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}
 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
} 

.align_order{
	float: right;
	background-color: lightgray;
	margin-right: 25px;
	border-radius: 5px;
	width: 55px;
	height: 24px;
	font-size: 14px;
	color: #F9F9F9;
	border: none;
	
}



/* 별점 */
.magnify{
	transform: scale(2);
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */