@charset "UTF-8";

input[type='date']::before {
	/* 
	<input type="date" data-placeholder="시작일" ... >
	input 태그에 정해놓은 data-placeholder를 placeholder로 띄워줍니다.
	 */
	content: attr(data-placeholder);
	width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}